<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>📄 Generar Reportes</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index.html"
          >Sistema de gestión de Clientes</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="#">Login</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Fin navbar -->
    <main>
      <section>
        <div class="container">
          <div class="row my-2">
            <div class="col-1">
              <br />
              <img
                src="./img/asociar.png"
                class="d-block w-100"
                alt="imagen crear Usuario"
                width="25"
              />
            </div>
            <div class="col-3">
              <br />
              <br />
              <div class="container">
                <div class="row row-cols-5">
                  <div class="col">Id</div>
                  <div class="col">Nombre Cliente</div>
                </div>
              </div>
              <hr />
            </div>
            <div class="col-3">
              <br />
              <br />
              <div class="container">
                <div class="row row-cols-5">
                  <div class="col">Id</div>
                  <div class="col">Nombre Cliente</div>
                </div>
              </div>
              <hr />
            </div>
            <div class="col-3">
              <br />
              <br />
              <div class="container">
                <div class="row row-cols-5">
                  <div class="col">Id</div>
                  <div class="col">Nombre Cliente</div>
                </div>
              </div>
              <hr />
            </div>
          </div>
          <a type="button" class="btn btn-outline-dark" href="./index.html">
            ⬅️ Volver
          </a>
          <a type="button" class="btn btn-outline-dark" href=""> 🤝 Asociar </a>
        </div>
      </section>
    </main>
    <footer></footer>
    <script src="./js/bootstrap.bundle.min.js"></script>
  </body>
</html>
